{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1><i class="fa fa-users"></i> List des organismes</h1>
    <div class="panel">
        <div class="panel-body">
            Liste des organismes enregistrés
            <a type="button" class="btn btn-success btn-sm pull-right"
                    {% comment %}data-toggle="modal" data-target="#organismForm"{% endcomment %}
               href="{% url 'metadata:organisms_create' %}">
                <i class="fa fa-plus-circle"></i> Ajouter
            </a>
        </div>
        {% if organisms %}
            <table class="table table-striped table-hover table-condensed table-responsive">
                <thead class="bg-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Nom court</th>
                    <th scope="col">Périmètre d'action</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Type</th>
                    <th scope="col">Email</th>
                    <th scope="col">URL</th>
                    <th scope="col">MaJ</th>
                </tr>
                </thead>
                <tbody>
                {% for o in organisms %}
                    <tr>
                        <th scope="row">
                            <div class="btn-group" role="group" aria-label="...">
                            <a href="{% url 'metadata:organisms_update' pk=o.id_organism %}"
                               title="Aller sur la fiche détaillée" type="button" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i></a>
                            <a href="{% url 'metadata:organisms_delete' pk=o.id_organism %}"
                               title="Aller sur la fiche détaillée" type="button" class="btn btn-primary btn-xs"><i class="fa fa-trash-alt"></i></a>
                            </div>
                        </th>
                        <td><a href="{% url 'metadata:organisms_detail' pk=o.id_organism %}"
                               title="Aller sur la fiche détaillée">#{{ o.id_organism }} {{ o.label }}</a></td>
                        <td>{{ o.short_label }}</td>
                        <td>{{ o.action_scope.label }}</td>
                        <td>{{ o.status.label }}</td>
                        <td>{{ o.type.label }}</td>
                        <td>{{ o.email }}</td>
                        <td>{{ o.url }}</td>
                        <td>{{ o.timestamp_update|date:'SHORT_DATETIME_FORMAT' }} par {{ o.created_by.username }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <script>
                $(document).ready(function () {
                    $('.table').DataTable();
                });
            </script>

        {% else %}
            <p>There are no organisms.</p>
        {% endif %}

    </div>
{% endblock %}
