{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset complete" %}{% endblock %}


{% block registration_title %}<i class="fa fa-fw fa-user-lock"></i> {% trans "Password reset complete" %}{% endblock %}

{% block registration_body %}

    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1">
            <div style="text-align: center;">
                <i class="fa fa-user-lock fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
            {% trans "Your password has been reset!" %}
            {% blocktrans %}You may now <a href="{{ login_url }}">log in</a>{% endblocktrans %}.
        </div>
    </div>

{% endblock %}



{# This is used by django.contrib.auth #}
