{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block meta %}
    <!-- NOTE(joshblum): This prevents leaking the password reset token via the
       Referer header to any 3rd party apps on the page. -->
    <meta name="referrer" content="origin">
{% endblock %}

{% block title %}{% trans "Confirm password reset" %}{% endblock %}



{% block registration_title %}<i class="fa fa-fw fa-user-lock"></i> {% trans "Confirm password reset" %}{% endblock %}

{% block registration_body %}

    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1">
            <div style="text-align: center;">
                <i class="fa fa-user-lock fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
            {% if validlink %}
                <p>{% trans "Enter your new password below to reset your password:" %}</p>
                <form method="post" action="">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" value="{% trans 'Set password' %}"/>
                </form>
            {% else %}
                Password reset unsuccessful. Please <a href="{% url 'auth_password_reset' %}">try again.</a>
            {% endif %}
        </div>
    </div>

{% endblock %}


{# This is used by django.contrib.auth #}
