{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Password changed" %}{% endblock %}



{% block registration_title %}<i class="fa fa-fw fa-lock"></i> {% trans "Password changed" %}{% endblock %}

{% block registration_body %}

    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1">
            <div style="text-align: center;" class="text-success">
                <i class="fa fa-check-circle fa-5x"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-10  col-md-offset-1 ">
            <p>{% trans "Password successfully changed!" %}</p>
        </div>
    </div>

{% endblock %}



{# This is used by django.contrib.auth #}
