{% extends "registration/registration_base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}{% trans "Register for an account" %}{% endblock %}



{% block registration_title %}Création d'un nouveau compte{% endblock %}

{% block registration_body %}

    <form method="post" action="">
        {% csrf_token %}
        {{ form | crispy }}
        <input type="submit" class="btn btn-success btn-block" value="{% trans 'Submit' %}"/>
    </form>

{% endblock %}
{% block registration_footer %}
    {% trans "Forgot your password?" %} <a
        href="{% url 'auth_password_reset' %}">{% trans "Login" %}</a>. <br>
    {% trans "Not connected?" %} <a
        href="{% url 'auth_login' %}">{% trans "Logged in" %}</a>.
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
