@font-face {
    font-family: 'LatoBlack';
        src: url('Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LatoBlackItalic';
        src: url('Lato-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'LatoBold';
        src: url('Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'LatoBoldItalic';
        src: url('Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }

@font-face {
    font-family: 'LatoHairline';
        src: url('Lato-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LatoHairlineItalic';
        src: url('Lato-HairlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'LatoHeavy';
        src: url('Lato-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LatoHeavyItalic';
        src: url('LatoHeavyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'LatoItalic';
        src: url('LatoItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'LatoLight';
        src: url('Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LatoLightItalic';
        src: url('Lato-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'LatoMedium';
        src: url('LatoMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LatoMediumItalic';
        src: url('LatoMediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'LatoRegular';
        src: url('Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LatoSemibold';
        src: url('Lato-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LatoSemiboldItalic';
        src: url('Lato-SemiboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'LatoThin';
        src: url('Lato-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

@font-face {
    font-family: 'LatoThinItalic';
        src: url('Lato-ThinItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }

 /* The following rules are deprecated. */

@font-face {
    font-family: 'Lato';
        src: url('Lato-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-Hairline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-HairlineItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-Heavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-HeavyItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-MediumItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }



@font-face {
    font-family: 'Lato';
        src: url('Lato-SemiboldItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
      }



/*@font-face {*/
    /*font-family: 'Lato';*/
        /*src: url('Lato-Thin.ttf') format('truetype');*/
    /*font-weight: normal;*/
    /*font-style: normal;*/
      /*}*/



/*!*@font-face {*!*/
    /*!*font-family: 'Lato';*!*/
        /*!*src: url('Lato-ThinItalic.ttf') format('truetype');*!*/
    /*!*font-weight: normal;*!*/
    /*!*font-style: italic;*!*/
      /*!*}*!*/

