{% load staticfiles i18n %}

<header>
    <div class="page-header">

        <div class="links">
        {% if user.is_authenticated %}

            <a href="{% url 'accounts:myprofile_detail' %}" title="{% trans 'Mon profile' %}">{{ user.get_username }}</a>
            <a
                href="{% url 'auth_logout' %}"
                title="{% trans 'Se déconnecter' %}"
                ><i
                    class="fa fa-fw fa-sign-out-alt"
                    aria-hidden="true"
                ></i>
            </a>
        {% else %}
            <a href="{% url 'auth_login' %}" title="{% trans 'Se connecter' %}"
                ><i
                    class="fa fa-fw fa-sign-in-alt"
                    aria-hidden="true"
                ></i>
            </a>

        {% endif %}
        </div>
        <img src="{% static 'img/logo_site.png' %}" loading="lazy" />
        <h1>{{ SITE_NAME }}</h1>
    </div>
</header>
