{#{% load staticfiles %}#}
<footer class="footer">
    <div class="container-fluid">
        <span class="text-muted">

            <div class="btn-group btn-group-xs dropup">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fi-at-sign"></i> <span class="hidden-xs">dbChiro</span> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="https://dbchiro.org" role="button"><i class="fi-web" style="font-size:1em;"></i>
                            dbchiro.org</a></li>
            <li>
                <script>
                    <!--
                    // protected email script by Joe Maller
                    // JavaScripts available at http://www.joemaller.com
                    // this script is free to use and distribute
                    // but please credit me and/or link to my site
                    emailE = 'dbchiro.org'
                    emailE = ('project' + '@' + emailE)
                    document.write('<a href="mailto:' + emailE + '?subject=Contact depuis le site dbchiro[.org]' + '">' + '<i class="fi-mail" style="font-size:1em;"></i> Contactez nous' + '</a>')
                        //-->
                </script>
            </li>
        </ul>
    </div><span class="hidden-xs"> est un projet libre</span> <a class="btn btn-warning btn-xs" href="https://www.gnu.org/licenses/agpl-3.0.fr.html" target="_blank "><span class="hidden-xs">GNU</span>
                AGPL</a>
    <span class="hidden-xs">, les codes
                sources
                sont disponibles sur</span>
    <div class="btn-group btn-group-xs dropup">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-gitlab"></i> FramaGit <span class="caret"></span>
                </button>
        <ul class="dropdown-menu">
            <li><a href="https://framagit.org/dbchiro/dbchiroweb" target="_blank ">dbChiro<sub>[web]</sub>
                            source code</a></li>
            <li><a href="https://framagit.org/dbchiro/dbchiroqgis" target="_blank ">dbChiro<sub>[QGIS]</sub>
                            source code</a></li>
        </ul>
    </div><span class="hidden-xs">. Les principales ressources utilisées sont</span>
    <div class="btn-group btn-group-xs dropup">
        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-code"></i> <span class="caret"></span>
                </button>
        <ul class="dropdown-menu">
            <li><a href="https://www.djangoproject.com/" target="_blank">Django</a></li>
            <li><a href="http://postgis.net/" target="_blank">PostgreSQL | PostGIS</a></li>
            <li><a href="https://getbootstrap.com/docs/3.3/" target="_blank">Bootstrap</a></li>
            <li><a href="http://leafletjs.com/" target="_blank">Leaflet.js</a></li>
        </ul>
        <span class="hidden-xs"> &nbsp;| Version :</span>
        <span class="label label-default">{{VERSION}}</span>
    </div>

    <!-- Single button -->
    </span>
    </div>
</footer>