{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <h1><i class="{{ icon | safe }}"></i> {{ title|safe }}</h1>
    <form action="" method="post">{% csrf_token %}
        <div class="alert alert-danger"><b>{{ message_alert }} "{{ object }}"?</b></div>
        <button type="submit" class="btn btn-danger" value="Confirm">{% trans 'Confirmer' %}</button>
    </form>
{% endblock %}
