{% extends 'base_leaflet.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<style>
  .legend {
    padding: 6px 8px;
    font: 14px "LatoRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    line-height: 24px;
    color: #555;
  }

  .zoomInfo {
    padding: 5px;
  }

  .legend span {
    position: relative;
    bottom: 3px;
  }

  .legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 8px 0 0;
    opacity: 0.7;
    border-radius: 50%;
  }

</style>
<h1><i class="{{ icon }}"></i> {{ title }}</h1>
{% if messages %}
<div class="small callout alert">
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
</div>
{% endif %}
{% if error_message %}
<div class="small callout alert">
  <b>{{ error_message }}</b>
</div>
{% endif %}
{% if form.errors %}
<div class="small callout alert">
  <b>{{ form.errors }}</b>
</div>
{% endif %}
<form action="" method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {% crispy form %}
</form>
<link rel="stylesheet" href="{% static 'css/select2-bootstrap.min.css' %}">
<script>
  console.log('TEST');
  var placeBaseUrl = '/place/bbox/api/search';
  var metaplaceBaseUrl = '/metaplace/api/search';


  window.addEventListener("map:init", function (event) {
    var markers = L.markerClusterGroup({
      chunkedLoading: true,
      spiderfyDistanceMultiplier: 3,
      maxClusterRadius: 14
    });


    var style_data = {
      radius: 6,
      fillColor: "#ff4c41",
      color: "#ddd",
      weight: 2,
      opacity: 1,
      fillOpacity: 0.8
    };

    var style_data_metasite = {
      radius: 6,
      fillColor: "#8A2BE2",
      color: "#ddd",
      weight: 2,
      opacity: 1,
      fillOpacity: 0.8
    };

    var polygon_style = {
      color: "#8A2BE2",
      fillColor: "#9370DB",
      weight: 2,
      opacity: 0.8,
      fillOpacity: 0.2
    };


    var map = event.detail.map;


    // Fonction plein écran
    map.addControl(new L.Control.Fullscreen());


    // Géolocalisation de l'utilisateur

    var locateOptions = {
      flyTo: true,
      title: 'Ma position',
      icon: 'fa fa-location-arrow',
    };

    L.control.locate(locateOptions).addTo(map);

    // Recherche par adresse
    map.addControl(new L.Control.Search({
      url: 'https://nominatim.openstreetmap.org/search?format=json&accept-language=fr-FR&q={s}',
      jsonpParam: 'json_callback',
      propertyName: 'display_name',
      propertyLoc: ['lat', 'lon'],
      markerLocation: true,
      autoType: true,
      autoCollapse: true,
      minLength: 2,
      zoom: 13,
      text: 'Suchen...',
      textCancel: 'Annuler',
      textErr: 'Erreur'
    }));

    // Add legend
    let legend = L.control({
      position: "bottomright"
    });


    legend.onAdd = function (map) {
      let div = L.DomUtil.create("div", "info legend");
      div.setAttribute("onmouseenter", "showDisclaimer()");
      div.setAttribute("onmouseleave", "hideDisclaimer()");
      div.id = "info legend"
      div.innerHTML = "<b class='fa fa-info-circle'></b>";
      return div;
    };
    legend.addTo(map);


    var locationLayer = Object;

    let overlayText = L.control({
      position: "topright"
    });
    overlayText.onAdd = function (map) {
      let div = L.DomUtil.create("div", "zoomInfo");
      div.innerHTML += '<p class="label label-primary">Zoomez pour afficher les données</p>';
      return div;
    };
    overlayText.addTo(map);

    let cancelPlaceSearchRequest;
    const loadPlaces = function () {
      // Download GeoJSON data with Ajax
      markers.clearLayers();
      map.spin(true);
      var dataBboxUrl = placeBaseUrl + '?format=json&in_bbox=' + map.getBounds().toBBoxString();
      if (cancelPlaceSearchRequest) {
        // Cancel the previous request before making a new request
        cancelPlaceSearchRequest.cancel();
      }
      // Create a new CancelToken
      cancelPlaceSearchRequest = axios.CancelToken.source();

      $http.get(dataBboxUrl, {
          progress: true,
          cancelToken: cancelPlaceSearchRequest.token
        })
        .then(function (resp) {
          console.log('<loadPlaces respJson>', resp);
          if (resp.status == 200) {
            return resp.data;
          }
        })
        .catch(function (error) {
          // handle error
          if (error.__CANCEL__) {
            console.log('<loadPlaces axios error> cancelled request')
          } else {
            console.log('<loadPlaces Axios error>', error);
          }
        })
        .then(function (data) {
          if (data.results) {
            locationLayer = L.geoJson(data.results, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = '<h3>Site&nbsp;:&nbsp;' +
                  props.name +
                  '</h3><p><ul><li><b>Type</b>: ' +
                  (props.type_data ? props.type_data.descr : "Non défini") +
                  '</li><li><b>Nombre de sessions</b> ' +
                  (props.total_sessions ? props.total_sessions : "Aucune") +
                  '&nbsp;(Dernière: ' +
                  (props.last_session ? props.last_session.date_start__max : "Aucune") +
                  ')</li></ul> </p><div class="text-right"><div class="btn-group" role="group"><a type="button" class="btn btn-default btn-sm" align="center" style="color:white;" href="/place/' +
                  feature.id +
                  '/detail" target="_blank"><i class="fa fa-fw fa-info-circle"></i></a><a type="button" class="btn btn-info btn-sm" align="center" style="color:white;" href="/place/' +
                  feature.id +
                  '/update" target="_blank"><i class="fa fa-fw fa-edit"></i></a></div></div>';
                layer.bindPopup(content);
              },
              pointToLayer: function (feature, latlng) {
                // Set a different color if location is in a metaplace
                if (feature.properties.metaplace) {
                  return L.circleMarker(latlng, style_data_metasite);
                }
                return L.circleMarker(latlng, style_data);
              }
            });
            markers.addLayer(locationLayer).addTo(map).bringToFront();
          }
        })
        .catch(function (error) {
          console.log('<loadPlace leaflet error>', error);
        })
        .then(function () {
          map.spin(false);
        });
    };


    // Download GeoJSON data with Axios
    let cancelMetaPlaceSearchRequest;
    loadMetaPlace = function () {
      if (cancelMetaPlaceSearchRequest) {
        // Cancel the previous request before making a new request
        cancelMetaPlaceSearchRequest.cancel();
      }
      // Create a new CancelToken
      cancelMetaPlaceSearchRequest = axios.CancelToken.source();

      $http.get(metaplaceBaseUrl + '?format=json', {
          progress: true,
          cancelToken: cancelMetaPlaceSearchRequest.token
        })
        .then(function (resp) {
          return resp.data;
        })
        .catch(function (error) {
          // handle error
          console.log('<loadMetaPlace Axios error>', error);
        })
        .then(function (data) {
          L.geoJSON(data, {
            style: polygon_style,
            onEachFeature: function onEachFeature(feature, layer) {
              var props = feature.properties;
              var content = '<h3>MetaSite&nbsp;:&nbsp;' +
                props.name +
                '</h3><p><ul><li><b>Type</b>: ' +
                (props.type_data ? props.type_data.descr : "Non défini") +
                '</li></ul> </p><div class="text-right"><div class="btn-group" role="group"><a type="button" class="btn btn-default btn-sm" align="center" style="color:white;" href="/metaplace/' +
                feature.id +
                '/detail" target="_blank"><i class="fa fa-fw fa-info-circle"></i></a><a type="button" class="btn btn-info btn-sm" align="center" style="color:white;" href="/metaplace/' +
                feature.id +
                '/update" target="_blank"><i class="fa fa-fw fa-edit"></i></a></div></div>';
              layer.bindPopup(content);
            }
          }).addTo(map).bringToBack();
        })
        .catch(function (error) {
          console.log('loadMetaPlace Leaflet error', error);
        })
        .then(function () {
          map.spin(false);
        });


    };

    var debounce = null;

    map.on('moveend', function () {
      var currZoom = map.getZoom();
      if (currZoom >= 13) {
        map.removeControl(overlayText);
        markers.clearLayers();
        clearTimeout(debounce);
        debounce = setTimeout(loadPlaces, 1000);
      } else {
        markers.clearLayers();
        overlayText.addTo(map);
      }
    });


    // Trigger zoom on coordinate with manual filling
    $('#id_x,#id_y').on('change', function () {
      let x = $('#id_x').val();
      let y = $('#id_y').val();
      if (x && y) {
        console.log('XY', x, y);
        console.log('map._layers', map._layers)
        for (k in map._layers) {
          if (map._layers[k].dragging) {
            console.log(map._layers[k])
            var newLatLng = new L.LatLng(y, x);
            map._layers[k].setLatLng(newLatLng);
            map.flyTo([y, x], 16);
          }
        };
      }
    });
    // Reset fields if users draw/edit the leaflet marker
    map.on('draw:created draw:edited', function (e) {
      $('#id_x').val('') && $('#id_y').val('');
    });

  });

</script>

<script type="text/javascript">
  {
    {
      js | safe
    }
  }
  $.fn.select2.defaults.set("theme", "bootstrap");

</script>
<br />

{% endblock %}
