{% extends 'base_leaflet.html' %}
{% load i18n leaflet_tags %}
{% leaflet_js %}
{% leaflet_css %}
{% block title %}Carte des localités{% endblock %}
{% block content %}
    <style>
        .legend {
            padding: 6px 8px;
            font: 14px "LatoRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
            background: white;
            background: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            line-height: 24px;
            color: #555;
        }

        .legend span {
            position: relative;
            bottom: 3px;
        }

    </style>
    <h1><a href="{% url 'sights:place_create' %}" class="btn btn-primary pull-right"><i
            class="fa fa-fw fa-map-marker-alt"></i>{% trans 'Créer une localité' %}</a>
        <i class="fa fa-fw fa-map"></i> Carte des localités</h1>
    <p>Le groupement des localités est aléatoire, afin d'améliorer la vitesse d'affichage seulement.</p>
    {% leaflet_map "main" %}
    <script type="text/javascript">

        var placeBaseUrl = '{% url 'sights:place_bbox_search_api' %}';
        var metaplaceBaseUrl = '{% url 'sights:metaplace_bbox_search_api' %}';

        window.addEventListener("map:init", function (event) {
                addSpinner();
                $('#spinner').hide();
                var placeMarkers = L.markerClusterGroup({
                    chunkedLoading: true,
                    spiderfyDistanceMultiplier: 3,
                    maxClusterRadius: 14
                });

                var metaPlacePolygons = L.featureGroup();

                var style_data = {
                    radius: 6,
                    fillColor: "#ff4c41",
                    color: "#ddd",
                    weight: 2,
                    opacity: 1,
                    fillOpacity: 0.8
                };

                var style_data_metasite = {
                    radius: 6,
                    fillColor: "#8A2BE2",
                    color: "#ddd",
                    weight: 2,
                    opacity: 1,
                    fillOpacity: 0.8
                };

                var polygon_style = {
                    color: "#8A2BE2",
                    fillColor: "#9370DB",
                    weight: 2,
                    opacity: 0.8,
                    fillOpacity: 0.2
                };


                var map = event.detail.map;


                // Fonction plein écran
                map.addControl(new L.Control.Fullscreen());


                // Géolocalisation de l'utilisateur

                var locateOptions = {
                    flyTo: true,
                    title: 'Ma position',
                    icon: 'fa fa-location-arrow',
                };

                L.control.locate(locateOptions).addTo(map);

                // Recherche par adresse
                map.addControl(new L.Control.Search({
                    url: 'https://nominatim.openstreetmap.org/search?format=json&accept-language=fr-FR&q={s}',
                    jsonpParam: 'json_callback',
                    propertyName: 'display_name',
                    propertyLoc: ['lat', 'lon'],
                    markerLocation: true,
                    autoType: true,
                    autoCollapse: true,
                    minLength: 2,
                    zoom: 13,
                    text: 'Suchen...',
                    textCancel: 'Annuler',
                    textErr: 'Erreur'
                }));

                // Add legend
                let legend = L.control({position: "bottomleft"});


                legend.onAdd = function (map) {
                    let div = L.DomUtil.create("div", "info legend");
                    div.setAttribute("onmouseenter", "showDisclaimer()");
                    div.setAttribute("onmouseleave", "hideDisclaimer()");
                    div.id = "info legend"
                    div.innerHTML = "<b class='fa fa-info-circle'></b>";
                    return div;
                };
                legend.addTo(map);


                var locationLayer = Object;

                let overlayText = L.control({position: "topright"});
                overlayText.onAdd = function (map) {
                    let div = L.DomUtil.create("div", "zoomInfo");
                    div.innerHTML += '<p class="label label-warning"><i class="fa fa-info-circle fa-fw"></i>Zoomez pour afficher les données</p>';
                    return div;
                };
                overlayText.addTo(map);

                let cancelPlaceSearchRequest;
                const loadPlaces = function () {
                        // Download GeoJSON data with Ajax

                        dataLoaded.Place = false;
                        displaySpinner(checkLoadStates(dataLoaded));
                        var dataBboxUrl = placeBaseUrl + '?format=json&in_bbox=' + map.getBounds().toBBoxString();
                        if (cancelPlaceSearchRequest) {
                            // Cancel the previous request before making a new request
                            cancelPlaceSearchRequest.cancel();
                        }
                        // Create a new CancelToken
                        cancelPlaceSearchRequest = axios.CancelToken.source();

                        $http.get(dataBboxUrl, {
                            cancelToken: cancelPlaceSearchRequest.token
                        })
                            .then(function (resp) {
                                if (resp.status == 200) {
                                    return resp.data;
                                }
                            })
                            .catch(function (error) {
                                // handle error
                                if (error.__CANCEL__) {
                                    console.log('<loadPlaces axios error> cancelled request')
                                } else {
                                    console.log('<loadPlaces Axios error>', error);
                                }
                            })
                            .then(function (data) {
                                    if (data.results) {
                                        locationLayer = L.geoJson(data.results, {
                                            onEachFeature: function onEachFeature(feature, layer) {
                                                var props = feature.properties;
                                                var content = '<h3>Site&nbsp;:&nbsp;'
                                                    + props.name
                                                    + '</h3><p><ul><li><b>Type</b>: '
                                                    + (props.type_data ? props.type_data.descr : "Non défini")
                                                    + '</li><li><b>Nombre de sessions</b> '
                                                    + (props.total_sessions ? props.total_sessions : "Aucune")
                                                    + '&nbsp;(Dernière: '
                                                    + (props.last_session ? props.last_session.date_start__max : "Aucune")
                                                    + ')</li></ul> </p><div class="text-right"><div class="btn-group" role="group"><a type="button" class="btn btn-default btn-sm" align="center" style="color:white;" href="/place/'
                                                    + feature.id
                                                    + '/detail" target="_blank"><i class="fa fa-fw fa-info-circle"></i></a><a type="button" class="btn btn-info btn-sm" align="center" style="color:white;" href="/place/'
                                                    + feature.id
                                                    + '/update" target="_blank"><i class="fa fa-fw fa-edit"></i></a></div></div>';
                                                layer.bindPopup(content);
                                            }
                                            ,
                                            pointToLayer: function (feature, latlng) {
                                                // Set a different color if location is in a metaplace
                                                if (feature.properties.metaplace) {
                                                    return L.circleMarker(latlng, style_data_metasite);
                                                }
                                                return L.circleMarker(latlng, style_data);
                                            }
                                        });
                                        placeMarkers.clearLayers();
                                        placeMarkers.addLayer(locationLayer).addTo(map).bringToFront();
                                    }
                                }
                            )
                            .catch(function (error) {
                                console.log('<loadPlace leaflet error>', error);
                            })
                            .then(function () {
                                dataLoaded.Place = true;
                                displaySpinner(checkLoadStates(dataLoaded));
                            });
                    }
                ;


                // Download GeoJSON data with Axios
                let cancelMetaPlaceSearchRequest;
                loadMetaPlaces = function () {
                    dataLoaded.metaPlace = false;
                    displaySpinner(checkLoadStates(dataLoaded));
                    metaPlacePolygons.clearLayers()
                    if (cancelMetaPlaceSearchRequest) {
                        // Cancel the previous request before making a new request
                        cancelMetaPlaceSearchRequest.cancel();
                    }
                    // Create a new CancelToken
                    cancelMetaPlaceSearchRequest = axios.CancelToken.source();

                    $http.get(metaplaceBaseUrl + '?format=json', {
                        progress: true,
                        cancelToken: cancelMetaPlaceSearchRequest.token
                    })
                        .then(function (resp) {
                            if (resp.status == 200) {
                                return resp.data;
                            }
                        })
                        .catch(function (error) {
                            // handle error
                            if (error.__CANCEL__) {
                                console.log('<loadMetaPlace axios error> cancelled request')
                            } else {
                                console.log('<loadMetaPlace Axios error>', error);
                            }
                        })
                        .catch(function (error) {
                            // handle error
                            console.log('<loadMetaPlace Axios error>', error);
                        })
                        .then(function (data) {
                            metaPlaceLayer = L.geoJSON(data, {
                                style: polygon_style,
                                onEachFeature: function onEachFeature(feature, layer) {
                                    var props = feature.properties;
                                    var content = '<h3>MetaSite&nbsp;:&nbsp;'
                                        + props.name
                                        + '</h3><p><ul><li><b>Type</b>: '
                                        + (props.type_data ? props.type_data.descr : "Non défini")
                                        + '</li></ul> </p><div class="text-right"><div class="btn-group" role="group"><a type="button" class="btn btn-default btn-sm" align="center" style="color:white;" href="/metaplace/'
                                        + feature.id
                                        + '/detail" target="_blank"><i class="fa fa-fw fa-info-circle"></i></a><a type="button" class="btn btn-info btn-sm" align="center" style="color:white;" href="/metaplace/'
                                        + feature.id
                                        + '/update" target="_blank"><i class="fa fa-fw fa-edit"></i></a></div></div>';
                                    layer.bindPopup(content);
                                }
                            });
                            metaPlacePolygons.addLayer(metaPlaceLayer).addTo(map);
                            metaPlacePolygons.bringToBack();
                            dataLoaded.metaPlace = true;
                            displaySpinner(checkLoadStates(dataLoaded));
                        })
                        .catch(function (error) {
                            console.log('loadMetaPlace Leaflet error', error);
                        });

                };

                const loadDatas = function () {
                    loadPlaces();
                    loadMetaPlaces();
                }

                const clearLayers = function () {
                    metaPlacePolygons.clearLayers();
                    placeMarkers.clearLayers();
                }

                let debounce = null;

                map.on('moveend', function () {
                    var currZoom = map.getZoom();
                    if (currZoom >= 13) {
                        map.removeControl(overlayText);
                        clearTimeout(debounce);
                        debounce = setTimeout(loadDatas, 1000);
                    } else {
                        $('#spinner').hide();
                        clearLayers();
                        overlayText.addTo(map);
                    }
                });

            }
        );
    </script>
{% endblock %}
