{% extends 'base_fullwidth.html' %} {% load i18n static %} {% block title %}
Observations de la session {{object.name}} {% endblock %} {% block content %}
<style>
                body{
                  display: flex;
                flex-direction: column;
                }
                main {
                  flex:1;
                  width: 100%;
                  background-color:red;

                }

    main > * {
                  display:flex;

                }

            .mainBlock {
              display: flex;
              flex-flow: row wrap;
              flex:1;
              height: 100%;
              width: 100%;
              font-weight: bold;
              text-align: center;
              background-color: grey;
            }

            .mainBlock > * {
              padding: 10px;
              flex: 1 100%;
            }

        .content {
          height: 100%;
          display: flex;
          {% comment %} background: pink; {% endcomment %}
        }

                .titleBlock{
                  background-color: blue;
                  display: block;
                }

                .speciesBlock{
                  {% comment %} flex:1; {% endcomment %}
                  background-color: green;
                  {% comment %} flex: 1 0 0; {% endcomment %}
                  overflow-y: auto;
                  flex-direction: column !important;
                  display: flex;
                }


                .detailBlock{
                  {% comment %} content-items: stretch; {% endcomment %}
                  background-color: yellow;
                  align-content: stretch !important;
                  flex-direction: column !important;
                  flex-grow: 1 !important;
                  display: flex !important;

                }
</style>
<div class="mainBlock">
    <div class="titleBlock col-12">
        <h1>title</h1>
    </div>
    <div class="content">
        <div class="speciesBlock col-xs-3">
            <div class="half"><h4>Top left</h4></div>
            <div class="half"><h4>Bottom left</h4></div>
        </div>
        <div class="detailBlock col-xs-9">
            <h4>Extra step: center stuff here</h4>
        </div>
    </div>
</div>
{% endblock %}
